#contextual-elements-details h2.title {
  font-size: 1.2em;
}

#contextual-elements-details .element {
  margin: 10px 0;
  font-weight: bold;
}

#contextual-elements-details .element .value {
  font-weight: normal;
  color: #666;
}

#contextual-elements-details .element div.value {
  margin-left: 10px;
}

#contextual-elements-details .element.code .value {
  font-family: monospace;
  background-color: #eee;
  padding-left: 10px;
}

form#contextual-elements-form-element textarea {
  font-family: monospace;
}
